<ion-header no-border>

  <ion-navbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="margin-top: -20px; font-size: 11px; color: grey; padding-top: 10%;">
    <p>{{ todayDate | date:'EEEE, dd MMMM yyyy' }}</p>
  </div>

  <div>
    <p>Selamat {{ daylight }}</p>
    <h4 style="margin-top: -10px;">{{ nama }}</h4>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="azz_card" tappable (click)="goToCheckIn()">
            <ion-card-header>
              <button ion-button clear block icon-only>
                <ion-icon name="location-outline" style="color: orange;" id="sync"></ion-icon>
              </button>
            </ion-card-header>
            <ion-card-content style="margin-top: -15px;font-size: 10px; color: grey; text-align: center;">
              Check In
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="azz_card" tappable (click)="goToHistory()">
            <ion-card-header>
              <button ion-button clear block icon-only>
                <ion-icon name="calendar-outline" style="color: violet;" id="sync"></ion-icon>
              </button>
            </ion-card-header>
            <ion-card-content style="margin-top: -15px;font-size: 10px; color: grey; text-align: center;">
              History
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>

<!-- <ion-footer style="background-color: white;">

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="azz_card">
            <ion-card-header>
              <button ion-button clear block icon-only (click)="goToCheckIn()">
                <ion-icon name="cloud-download-outline" style="color: orange;" id="sync"></ion-icon>
                <ion-icon name="cloud-done-outline" style="color: blue; display: none;" id="sync_done"></ion-icon>
              </button>
            </ion-card-header>
            <ion-card-content style="margin-top: -15px;font-size: 10px; color: grey; text-align: center;">
              Check In
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="azz_card">
            <ion-card-header>
              <button ion-button clear block icon-only (click)="goToCheckIn()">
                <ion-icon name="cloud-download-outline" style="color: orange;" id="sync"></ion-icon>
                <ion-icon name="cloud-done-outline" style="color: blue; display: none;" id="sync_done"></ion-icon>
              </button>
            </ion-card-header>
            <ion-card-content style="margin-top: -15px;font-size: 10px; color: grey; text-align: center;">
              Sync
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-footer> -->
