page-home {

  ion-title * {
    margin-top: 30vh;
    margin-bottom: 5vh;
  }

  .blury {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    background-color: transparent !important;
  }

  .form {
    z-index: 2;
  }


  .bgimage {
    // background-image: url(/assets/imgs/street-car-truck.jpg);
    background-color: rgba(173, 39, 39, 0.233);
    background-size: cover;
  }

  .item-inner,
  ion-item {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .item.item-input {
    // background-color: transparent;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
  }

  .text-input::-moz-placeholder {
    color: rgba(116, 67, 67, 0.781);
  }

  .text-input:-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgb(0, 0, 0);
  }

  ion-input {
    .text-input {
      text-align: left;
      color: rgb(0, 0, 0);
    }
  }

  .scroll-content {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }


}
