<ion-content class="bgimage" padding center text-center>
  <ion-title class="tracking-in-expand">Operational 520</ion-title>
</ion-content>

<ion-footer no-border padding class="blury">

  <div class="form" padding>
    <ion-list>
      <ion-item no-lines>
        <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <br>
      <ion-item no-lines>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <button ion-button block class="azz_button" (click)="login()">Log in</button>
  <br>

</ion-footer>
