<ion-header no-border>

  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

  <ion-card class="azz_card">
    <ion-card-header>
      <p class="card_header">Sabtu, 13 Agustus 2020 13:23:54</p>
    </ion-card-header>
    <ion-card-content class="card_content">
      Jl. Puri Lkr. Luar Blok T4 No.1, RT.1/RW.2, Kembangan Sel., Kec. Kembangan, Kota Jakarta Barat, Daerah Khusus
      Ibukota Jakarta 11610, Indonesia
    </ion-card-content>
  </ion-card>

</ion-content>
