.toolbar-background {
  background-color: transparent !important;
}

// Dissable underline ion input
.item-inner,
ion-item {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.azz_button {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  text-transform: none;
  margin: auto;
  width: 90%;
  height: 33pt;
}

.azz_card {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
}
