page-checkin {
    .ios, .md {

        home-page {
    
          .scroll {
            height: 100%
          }
    
          #map {
            width: 100%;
            height: 50%;
          }
    
        }
    
    }
}
