n<ion-header no-border>

  <ion-navbar>
    <ion-title>Check In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content center text-left>

  <div #map id="map" style="width:100%;height:100%;margin-bottom: 5%;"></div>

</ion-content>

<ion-footer style="background-color: white;">
  <div padding>
    <ion-list>
      <ion-item>
        <ion-label>Latitude : {{ lat }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Longitude : {{ lng }} </ion-label>
      </ion-item>
      <ion-item>
        <textarea style="background-color: white" id="address" rows="5" style="border:none;width: 100%;"
          readonly></textarea>
      </ion-item>
      <p id="address"></p>
    </ion-list>
    <div>
      <button ion-button block class="azz_button" (click)="checkin()">CHECK IN</button>
    </div>
  </div>
</ion-footer>
